<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>

          <allow roles="Hulpverlener"/>
          <deny users="*"/>
          
        </authorization>
    </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString= 'Data Source=WDS;Initial Catalog=Armband;Integrated Security=True' providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>


